<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/especial.css'%}"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    <link src="https://kit.fontawesome.com/92d70a2fd8.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://file.myfontastic.com/3j45yvRpaWhzeStdASehh9/icons.css" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <nav class="main_nav">
            <div class="container container--flex">
                <div class="logo">
                    <img src="{% static 'core/img/loguito.png'%}" alt="MaFran">
                </div>
                <div class="main-header__contactInfo column column--50">
                    <p class="main-header__contactInfo__phone">
                        <span class="icon-phone">(+56) 997833108 
                        </span>
                    </p>
                </div>
            </div>
            <div class="container container--flex">
                <span class="icon-menu" id="btnmenu"></span>
                <ul class="menu" id="menu">
                    <li class="menu__item"><a href="/" class="menu__link {% if request.path == '/' %}active{% endif %}">Nosotros</a></li>
                    <li class="menu__item"><a href="{% url 'aseo' %}" class="menu__link {% if request.path == '/aseo/' %}active{% endif %}">Aseo</a></li>
                    <li class="menu__item"><a href="{% url 'ferreteria' %}" class="menu__link {% if request.path == '/ferreteria/' %}active{% endif %}">Ferreteria</a></li>
                    <li class="menu__item"><a href="{% url 'adhesivos' %}" class="menu__link {% if request.path == '/adhesivos/' %}active{% endif %}">Adhesivos</a></li>
                    <!--  barra de busquedaaa  -->
                    <form action="{%url 'buscar'%}" method="POST" class="searchbar">
                        {% csrf_token %}
                        <input type="text" name="busqueda" class="input" placeholder="Busca aquí" width="100%">
                        <button type="submit" name="submit" class="boton-busqueda">
                            <img src="{%static 'core/img/lupita.svg'%}" alt="Buscar">
                        </button>
                    </form>
                </ul>
            </div><br class="menubr">
        </nav>
    </header>
    {%block content%}{%endblock%}

    {%block footer %}{%endblock%}
    <hr class="mb-4">
    <footer class="main-footer">
        <div class="">
            <button class="boton-wsp" id="whatsapp-chat-button"><img src="{%static 'core/img/wazap.png'%}" alt="koko"></button>
        </div>
        <script>
            // Obtén el botón:
            var mybutton = document.getElementById("whatsapp-chat-button");

            // Cuando desplazas hacia abajo 20 píxeles, muestra el botón:
            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
                if (document.body.scrollTop > 90 || document.documentElement.scrollTop > 90) {
                    mybutton.classList.add("boton-visible");
                } else {
                    mybutton.classList.remove("boton-visible");
                }
            }



            document.getElementById('whatsapp-chat-button').addEventListener('click', function() {
            var whatsappUrl = 'https://wa.me/+56997833108'; /*esta con el numero de mario*/
            window.open(whatsappUrl, '_blank');
            });
            

        </script>
        <div class="container--footer">   
            <div class="footer-section footer-section1">
                <h2 class="column__title"style="color: white;">Contactenos y haz tu pedido</h2>
                <p class="column__foot">Mail: </p>
                <p class="column__foot">Telefono1:+(56) 997833108</p>
                <p class="column__foot">Telefono2:+(56) 973728789</p>
            </div>
            <div class="footer-section footer-section1">
                <h2 class="column__title"style="color: white;">Siguenos</h2>
                <p class="column__foot"><a href="" class="icon-facebook">Facebook</a></p>
                <p class="column__foot"><a href="https://www.instagram.com/mafran_spa?igsh=YzljYTk1ODg3Zg==" class="icon-instagram">Instagram</a></p>
            </div>
            <div class="footer-section footer-section1">
                <p class="copy">2024 Importadora Mafran® SPA | Todos los derechos reservados<br><br>Aplicasión web creada por Francisco Canales | Contacto: franciscoignaciocanales@gmail.com</p>
            </div>
        </div>
    </footer>
    <script src="{% static 'core/js/menu.js'%}"></script>

</body>
</html>