{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<section class="banner">
    <img src="{% static 'core/img/bannerFerr.jpg' %}" alt="bannerFerr.jpg" class="banner__img">
    <div class="banner__content">Ferreteria</div>
</section>
<main class="main">
    <div class="container">
        <div class="row card-container">
            {% for f in ferreteria %}
            <div class="col-md-4 mb-4">
                <div class="card fixed-height-card">
                    <div class="card-container">
                        <div class="card-body">
                            <div style="background-color: red; width: 100%; text-align: center; color: yellow;">
                                <h1 class="card-title">{{ f.nombre }}</h1>
                            </div>
                            {% if f.imagen %}
                            <figure>
                                <img src="{{ f.imagen.url }}" alt="Sin imagen" class="producto">
                            </figure>
                            {% else %}
                            Sin imagen
                            {% endif %}
                            <h2>Descripción.</h2>
                            <td>{{ f.caracteristicas }}</td><br>                            
                            <td><h2>Precios: </h2>{{ f.precio }}</td><br>
                            <td><h2>{{ f.precio_unidad }}c/u</h2></td>         
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>  <!--  paginación ↓  -->
    <nav aria-label="Page navigation example">
        <span>
            Page {{ ferreteria.number }} of {{ ferreteria.paginator.num_pages }}
        </span>
        <ul class="pagination">
            {% if ferreteria.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ferreteria.next_page_number}}">Siguiente</a></li>
            {% endif %}
    
            {% if ferreteria.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ferreteria.previous_page_number}}">Anterior</a></li>
            {% endif %}
        </ul>
    </nav>
</main>
{% endblock %}
{% block footer %}{% endblock %}
