{%extends 'core/base.html' %}
{%load static%}
{%block content%}
<main class="main">
    <section class="group--color">
        <div class="container container--flex">
            <h1 class="main__title">Hola! Bienvenido</h1>
        </div>
    </section>

    <section class="group main__about_description">
        <div class="container container--flex">
            <div class="column column--50">
                <img src="img/index1.jpg" alt="">
            </div>
            <div class="column column--50">
                <h2 class="column__title">¿Porqué preferir esta página?</h2>
                <p class="column__txt">El proposito de esta pagina web es para que nuestros clientes vean el catalogo, consigan informacion de contacto con encargados de ventas y realizar compras, en un futuro tener vendedores en las principales regiones de nuestro país</p>
            </div>
        </div>
    </section>
<!--
    <hr class="mb-4">
    <section class="group today-special">
        <h2 class="group__title">Ofertas especiales</h2>
        <div class="container container--flex">
            <div class="column column--50--25">
                <img src="img/oferta1.jpg" alt="" class="today-special__img">
                <div class="today-special__tittle">Happy Hour</div>
                <h5>Descuento en cualquier bebida de café caliente de 3pm a 5pm.</h5>
                <div class="today-special__price">20%</div>
            </div>
            <div class="column column--50--25">
                <img src="img/oferta2.jpg" alt="" class="today-special__img">
                <div class="today-special__tittle">Merienda de la tarde</div>
                <h5>Capucchino + Dona glaseada.</h5>
                <div class="today-special__price">$6.25</div>
            </div>
            <div class="column column--50--25">
                <img src="img/oferta3.jpg" alt="" class="today-special__img">
                <div class="today-special__tittle">Tarde dulce</div>
                <h5>Frapé de café + Croissant.</h5>
                <div class="today-special__price">$7.50</div>
            </div>
            <div class="column column--50--25">
                <img src="img/oferta4.jpg" alt="" class="today-special__img">
                <div class="today-special__tittle">Desayuno para llevar</div>
                <h5>Café Espresso + Croissant + Galleta de chocolate.</h5>
                <div class="today-special__price">$6</div>
            </div>
        </div>
    </section>
-->
</main>
{%endblock%}