{%extends 'core/base.html' %}
{%load static%}
{%block content%}
<main class="main">
    <section class="group--color">
        <div class="container container--flex">
            <h1 class="main__title">Hola! Bienvenido</h1>
        </div>
    </section>

    <section class="group main__about_description">
        <div class="container container--flex">
            <div class="column column--50">
                <img src="img/index1.jpg" alt="">
            </div>
            <div class="column column--50">
                <h2 class="column__title">¿Porqué preferir esta página?</h2>
                <p class="column__txt">El proposito de esta pagina web es para que nuestros clientes vean el catalogo, consigan informacion de contacto con encargados de ventas y realizar compras, en un futuro tener vendedores en las principales regiones de nuestro país</p>
            </div>
        </div>
    </section>
</main>
{%endblock%}